*{
    width: 70%;
    margin: 0;
    padding: 0;
    /*Puedo escribir auto como valor y pone de valor de acuerdo al valor de otro atributo de arriba*/
}
/* haciendo ctrl+k+c me permite abrir los comentarios */

.titulin {
    color: rgb(240, 8, 46);
    /* haciendo #000 o #000000 osea # + tres o seis numeros, es codigo para color */
}

.fondo {
    background: cornflowerblue;
}	

*{
    background-image: url(https://img.freepik.com/vector-gratis/colorida-textura-acuarela_1048-11773.jpg?w=2000);
} /*puedo hacer lo mismo pero en url poner la ruta de una carpeta dentro de la compu */ 
